[submodule "parser"]
	path = parser
	url = https://github.com/ThatEpicBanana/parser
[submodule "error"]
	path = error
	url = ./error
# [submodule "scarfc"]
# 	path = scarfc
# 	url = https://github.com/ThatEpicBanana/scarfc
